* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.header {

    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.logo {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 24px;
    font-weight: bold;
    margin-left: 220px;
    
}

.links {
    flex: 1;
    display: flex;

    list-style: none;
    gap: 10px;
    justify-content: flex-end;
    align-self: center;
    margin-right: 15%;
    font-size: 16px;
}

.hero-container {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 80px 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 40%;
    height: 230px;
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    text-align: left;
}

.hero > h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

.hero > p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    border: none;
    padding: 5px 25px;
    text-align: center;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
}
.first {
    margin-top: 5px;
    align-self: flex-start;
}

.placeholder {
    width: 40%;
    height: 230px;
    background-color: darkgrey;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
