* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.header {

    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.logo {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 24px;
    font-weight: bold;
    margin-left: 220px;  
}

.links {
    flex: 1;
    display: flex;

    list-style: none;
    gap: 10px;
    justify-content: flex-end;
    align-self: center;
    margin-right: 15%;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero-container {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 80px 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 40%;
    height: 230px;
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    text-align: left;
}

.hero > h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

.hero > p {
    font-size: 18px;
    color: #E5E7EB;
}

#first {
    border: none;
    padding: 5px 25px;
    text-align: center;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    margin-top: 5px;
    align-self: flex-start;
}

.placeholder {
    width: 40%;
    height: 230px;
    background-color: grey;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner-container {
    display: flex;
    flex-direction: column;
    padding: 70px;
}

.banner-container > h2 {
    margin: -10px auto 30px auto;
}

.banner {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.banner-element {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.square {
    height: 150px;
    width: 150px;
    border: #3882F6 2px solid;
    border-radius: 10px;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 70px;
}

#one,
#two {
    margin: 0 auto;
    width: 50%;
    font-size: 36px;
}

#one {
    font-style: italic;
}

#two {
    font-size: 18px;
    text-align: right;
    font-weight: bold;
}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.cta {
    display: flex;
    padding: 30px 90px;
    background-color: #3882F6;;
    gap: 80px;
    border-radius: 10px;
    align-items: center;
}

.cta-text {
    color: white;
}

#second {
    border: white 1px solid;
    padding: 5px 25px;
    text-align: center;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
}

.footer {
    padding: 40px;
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
}